@font-face {
  font-family: bebas-neue;
  src: url(fonts/BebasNeue-Regular.ttf);
}
body {
  margin: 0;
  box-sizing: border-box;
}
.huruf-elegan {
  font-family: bebas-neue, Arial, Helvetica, sans-serif;
  text-shadow: 0 0 1px black;
  font-size: 28px;
}
.header {
  display: flex;
  background-color: #cdebf3;
  color: black;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  height: fit-content;
  padding-bottom: 100px;
}
.header .header-logo {
  margin-left: 5%;
}
.header ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
  padding: 0;
  margin: 0;
  align-items: center;
}
.header ul li a {
  text-decoration: none;
  color: black;
}
.header .header-rightside {
  display: flex;
  margin-right: 5%;
}
.hero {
  display: flex;
  background-image: linear-gradient(to bottom, #cdebf3, #4cb6d3);
  padding-bottom: 100px;
  flex: auto;
}
.hero .biodata {
  text-align: center;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  margin-right: auto;
  width: 45%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero .biodata h1 {
  margin-bottom: 0;
}
.hero .biodata p {
  text-align: start;
  font-size: 20px;
  padding: 20px;
}
.hero .foto {
  display: flex;
  width: 45%;
  justify-content: space-around;
}
.hero .foto img {
  width: inherit;
  height: fit-content;
  border: 5px solid blue;
  border-radius: 10px;
}
